body {
	font-family: 'Poiret One', cursive;
    font-size: 16px;
	background-color: #C84361;
	color: #FFE495;
}

img.person {
    
   
    width: 100px;
    float:  left;
    padding-left:  10px;
    padding-right:  10px;
}

div#bio {
    width:  80%;
    padding-left:30px;
    content: 
}

div#logo {
    padding: 15px;
    margin: 20px auto 0px auto;
    text-align: center;
}

div#container {
	background-color: #E78775;
	min-width:850px;
	margin-left: auto;
	margin-right: auto;
	min-height: 300px;
	margin: 0 auto -4em;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	width: 80%; 
    padding-bottom: 80px;
    padding-left:20px;
}

h1, h2, div>a {
    padding-left:  30px;
}

ul>li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:  #D988BC;
    outline:  none;
}

img {border:  0;}

a img {outline:  none;}